<!doctype html>
<html lang="en" ng-app="photoApp">
  <head>
    <%- css('app') %>  
  </head>
  <body class="ng-cloak">
    <div class="potato-container">
      <ng-view></ng-view>
    </div>
  </body>
  <%- js('app') %>
</html>